header{
    display: inline-flex;
    border-bottom: 0;
}

.logo {
    width: 100px;
    height: fit-content;
    overflow: hidden;
    position: relative;
    
}

.nav-search{
    border-top: 0;
    margin-right: 0%;
    width: auto;
}


  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }  

  @media screen and (max-width: 600px) {
    .collapse-navbar-collapse a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  .hero-section{
    position: relative;
    border-top: 0;
    margin-right: 0%;
    width: auto;
  }

  .quote{
    position: absolute;
    top: 30%;
    width: 40%;
    text-align: center;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .heroimg { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }

.intro{
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

form {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
 font-size: x-small;
}

.form_submit_msg{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
  font-size: x-small;
 }
 
 /* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    min-height: 100vh;
}


.home-background {
  background: linear-gradient(to bottom, #2f2f2f, #bbbbbb);
}

.tech-background {
    background: linear-gradient(to bottom, #000428, #004683);
}

.science-background {
    background: linear-gradient(to bottom, #281500, #bb5400);
}

.art-background {
    background: linear-gradient(to bottom, #200028, #bb00b2);
}

.medicine-background {
    background: linear-gradient(to bottom, #072800, #00bb09);
}

h1 {
    font-size: x-large;
    color:#fff;
    font-family:'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title {
    margin-top: 100px;
}

/* Columms */
.container {
    margin-bottom: 100px;
}

.container .row .col-lg-3 {
    display: flex;
    padding-top: 100px;
}

.Ada, .Katherine, .Carol, .Susan, .Marie, .Rosalind, .Alice, .Dorothy {
    flex-direction: column;
    align-items: center;
}

info.container { 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 

/* Cards */
.card {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 280px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.5);
}

.card .card-image img {
    width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.card .card-content {
    position: absolute;
    bottom: 0px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    min-height: 120px;
    width: 100%;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    transform: translateY(10px);
    opacity: 0.3;
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.card-bio {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    word-wrap: break-word;
    background-clip: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: default;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    border-color: #fff;
    overflow: hidden;
    border: none;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.5);
}

p {
    font-family:'Poppins', sans-serif;
    font-size: 13px;
    text-align: left;
    letter-spacing: 2px;
    color: #000;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 400;
}


/* Bio Buttons */
.button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 12px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.tech {
    background-color: #1170c4;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #0e4575;
  color: white;
}

.button:focus {
  box-shadow: rgba(46, 73, 164, 0.4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  background-color: #81aace;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button:active {
  background-color: #3c719e;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
