header{
    display: inline-flex;
    border-bottom: 0;
}

.logo {
    width: 100px;
    height: fit-content;
    overflow: hidden;
    position: relative;
    
}

.nav-search{
    border-top: 0;
    margin-right: 0%;
    width: auto;
}
.icon{
    width: 50px;
    display: block;
    position: absolute;
    right: 0%;
    top: 6%;
}
#navlinks{
    display: none;
    display: block;
    position: absolute;
    right: 10%;
    top: 6%;
   
}

a:link{
    color:rgb(114, 63, 9);
    text-decoration: none;
}

a:visited {
    color:rgb(114, 63, 9);
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    text-decoration: none;
  }

.Searchicon{
    width: 30px;
    height: fit-content;
    display: block;
    position: absolute;
    right: 0%;
    top: 5%;
    
}

body{
    background-color: dimgray;
}

.hero{
    position: relative;
    border-top: 0;
    margin-right: 0%;
    width: auto;
  }

.Quote{
    position: absolute;
    top: 30%;
    width: 30%;
    text-align: center;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(114, 63, 9) ;
}


  img { 
    width: 100%;
    height: auto;
    opacity: 0.7;
  }

.Intro{
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(114, 63, 9) ;
}

.WIHlogo{
    width: 100px;
}